
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .input1{
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    box-shadow: 0 0 black;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    border: none;
    outline : none;
}
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <div class="container my-5">
      <button class="btn btn-outline-success my-3 my-sm-0" type="button" onclick="goBack()">Back</button>
  </div>

    <div class="shadow-lg container">
    <div class="row my-3" >
        {% load static %}
        <div class="col">
            <img src='{% static "property/2.jpeg" %}' height="600px" width="500px" class="rounded my-3">
        </div>
        <div class="col">
            <h1 class="round circle float-right my-5" style="font-family:Times New Roman">ENTER FLATE DETAILS</h1>
            <form action="/get_price/" method="post" enctype="multipart/form-data">
               {% csrf_token %}
<!--                <input class="input1 my-3" type="text" name="flate_name" placeholder="Flate name" required>-->
                <input class="input1 my-3" type="number" name="ptype" placeholder="Property Type  (1BHK, 2BHK etc)" required>
                <input class="input1 my-3" type="number" name="floor_no" placeholder="Floor No." required>
<!--                <input class="input1 my-3" type="number" name="price" placeholder="Price" required>-->
                <input class="input1 my-3" type="number" name="size" placeholder="Size  (100 sq.feet)" required>
                <input class="input1 my-3" type="number" name="age" placeholder="age of property" required>
<!--                <input class="input1 my-3" type="text" name="area" placeholder="city" required>-->
<!--                <textarea class="input1 mt-3 px-4 py-2" style="height:90px"  name="address" placeholder="Address" rows="4" required></textarea>-->
<!--                <input class="input1 my-1  px-4 py-3" style="width:50%" type="file" name="im" id="im">-->
                <input class="btn btn-secondary my-3"
                       style="width:20%;margin-left:40%;border-radius:25px;" type="submit" value="Predict">
            </form>
        </div>
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
  </body>

</html>
