{% extends 'basic1.html' %}
{% block title%}Sell Property{% endblock%}
{% block css%}
.input1{
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    box-shadow: 0 0 black;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    border: none;
    outline : none;
}

{% endblock %}
{% block body %}
<div class="shadow-lg container">
    <div class="row my-3" >
        {% load static %}
        <div class="col">
            <img src="/media/{{p.image}}" height="600px" width="500px" class="rounded my-3">
        </div>
        <div class="col">
            <h1 class="round circle float-right my-2" style="font-family:Times New Roman">PROPERTY</h1>

                <input class="input1 my-3" type="text" name="flate_name" placeholder= "name : {{p.pname}}" >
                <input class="input1 my-3" type="number" name="ptype" placeholder="Property Type : {{p.ptype}} BHK" >
                <input class="input1 my-3" type="number" name="floor_no" placeholder="Floor No. : {{p.floor}}" >
                <input class="input1 my-3" type="number" name="price" placeholder="Price : {{p.price}}" >
                <input class="input1 my-3" type="number" name="size" placeholder="Size :  {{p.size}} sq.ft" >
                <input class="input1 my-3" type="number" name="age" placeholder="age : {{p.p_age}}" >
                <input class="input1 my-3" type="text" name="area" placeholder="city : {{p.area}}" >
                <textarea class="input1 mt-3 px-4 py-2" style="height:90px"  name="address" placeholder="Address : {{p.p_address}}" rows="4" ></textarea>
        </div>
    </div>
</div>
{% endblock %}